accelerate==0.31.0
datasets==2.19.2
einops==0.8.0
jaxtyping==0.2.29
litellm==1.40.9
matplotlib==3.9.0
numpy==1.26.4
protobuf==5.27.1
sentencepiece==0.2.0
tqdm==4.66.4
transformers==4.57.6
typeguard==2.13.3
